/* editace je https://www.pirati.cz/wiki/developers:prosilver-ppcz:main.css */

body { background: #fff; }

div.forumbg div.inner ul.topiclist li.row dl.icon dt > a:first-child 
{display:block; width:30px; height:30px; float:left; background: url(images/icon_post_target_unread.png) no-repeat 0 2px; margin: 2px 8px 0 0;}
div.forumbg div.inner ul.topiclist li.row dl.icon dt > a:first-child img:before {content:nepře-čtené; color:#fff}
div.forumbg div.inner ul.topiclist li.row dl.icon dt > a:first-child img {display:none} 

div.forumbg div.inner ul.topiclist li.row dl.icon dt strong a,
div.forumbg div.inner ul.topiclist li.row dl.icon dt a.topictitle {display:inline; width:auto; height:inherit; float:none; background:inherit; margin:inherit;}

div.forumbg div.inner ul.topiclist
li.row dl.icon dt a {color:#159;}


#page-header .headerbar {background: url(images/forum_top_cde.png) no-repeat 0 0px;}
#page-header .headerbar .inner {background:transparent;}
#site-description a#logo {display:block; width:380px; height: 82px;}
#site-description a#logo img {display:none;}

.inner #search-box #search fieldset a {color:#c5a63a; margin-top:5px;}

dl[style*='topic_read_locked_mine.gif'] a.topictitle { color:gray; }
