<!-- IF EDIT_FORM -->
<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tr valign="middle" align="{S_CONTENT_FLOW_BEGIN}">
<td colspan="2">
<!-- IF S_BBCODE_ALLOWED -->
<input type="button" value=" B " onclick="addtag('b')" class="btnbbcode" style="width: 30px; font-size:0.85em; font-weight:bold;" title="{L_BBCODE_B_HELP}" />
<input type="button" value=" i " onclick="addtag('i')" class="btnbbcode" style="width: 30px; font-size:0.85em; font-style: italic;" title="{L_BBCODE_I_HELP}" />
<input type="button" value=" u " onclick="addtag('u')" class="btnbbcode" style="width: 30px; font-size:0.85em; text-decoration: underline;" title="{L_BBCODE_U_HELP}" />
<!-- IF S_BBCODE_QUOTE -->
	<input type="button" value="Quote" onclick="addtag('quote')" class="btnbbcode" style="width: 40px; font-size:0.85em;" title="{L_BBCODE_Q_HELP}" />
<!-- ENDIF -->
<input type="button" value="Code" onclick="addtag('code')" class="btnbbcode" style="width: 40px; font-size:0.85em;" title="{L_BBCODE_C_HELP}" />
<input type="button" value="List" onclick="addtag('list')" class="btnbbcode" style="width: 40px; font-size:0.85em;" title="{L_BBCODE_L_HELP}" />
<input type="button" value="List=" onclick="addtag('list=')" class="btnbbcode" style="width: 40px; font-size:0.85em;" title="{L_BBCODE_O_HELP}" />
<input type="button" value="[*]" onclick="addtag('*')" class="btnbbcode" style="width: 40px; font-size:0.85em;" title="{L_BBCODE_LISTITEM_HELP}" />
<!-- IF S_BBCODE_IMG -->
	<input type="button" value="Img" onclick="addtag('img')" class="btnbbcode" style="width: 40px; font-size:0.85em;" title="{L_BBCODE_P_HELP}" />
<!-- ENDIF -->
<!-- IF S_LINKS_ALLOWED -->	
	<input type="button" value="URL" onclick="addtag('url')" class="btnbbcode" style="width: 40px; font-size:0.85em;" title="{L_BBCODE_W_HELP}" />
<!-- ENDIF -->
<!-- IF S_BBCODE_FLASH -->
	<input type="button" value="Flash" onclick="addtag('flash')" class="btnbbcode" style="font-size:0.85em;" title="{L_BBCODE_D_HELP}" />
<!-- ENDIF -->
<span class="genmed nowrap"><select class="gensmall" id= "addbbcode20" name="addbbcode20" onchange="addsize('size', document.getElementById('addbbcode20').options[document.getElementById('addbbcode20').selectedIndex].value)" title="{L_BBCODE_F_HELP}">
		<option value="50">{L_FONT_TINY}</option>
		<option value="85">{L_FONT_SMALL}</option>
		<option value="100" selected="selected">{L_FONT_NORMAL}</option>
		<option value="150">{L_FONT_LARGE}</option>
		<option value="200">{L_FONT_HUGE}</option>
</select></span>
<!-- ENDIF -->
	</td>
</tr>
<!-- IF S_BBCODE_ALLOWED and .custom_tags -->
<tr valign="middle" align="{S_CONTENT_FLOW_BEGIN}">
<td colspan="2">
<!-- BEGIN custom_tags -->
	<input type="button" class="btnbbcode" value="{custom_tags.BBCODE_TAG}" onclick="addtag('{custom_tags.BBCODE_TAG}')" title="{custom_tags.BBCODE_HELPLINE}" style="font-size:0.85em;" />
<!-- END custom_tags -->
		</td>
	</tr>
<!-- ENDIF -->

<tr>
<td valign="top" style="width: 100%;"><textarea name="quickedit-textarea" id="quickedit-textarea" rows="15" cols="76" tabindex="3" onselect="storeCaret(document.getElementById('quickedit-textarea'));" onclick="storeCaret(document.getElementById('quickedit-textarea'));" onkeyup="storeCaret(document.getElementById('quickedit-textarea'));" style="width: 98%; font-size: 0.9em;" >{POST_TEXT}</textarea></td>
</tr>
<input type="button" onclick="submit_changes({POST_ID});" value="{L_SUBMIT}" />
<input type="button" onclick="cancel_changes({POST_ID});" value="{L_CANCEL}" />
</table>
<!-- ELSEIF SEND_TEXT -->
{TEXT}
<!-- ELSE -->
<script type="text/javascript">
// <![CDATA[
var http_request = getHTTPObject();
var divname = '';
var open_quick_edit = 0;

function quick_edit(post_id)
{
	if (open_quick_edit != 1)
	{
		divname = 'postdiv' + post_id;
		get_text(post_id);
		contents = document.getElementById('quick_edit' + post_id).style.display = 'none';
		open_quick_edit = 1;
	}
}

function submit_changes(post_id)
{
   contents = document.getElementById('quickedit-textarea').value;
   contents = contents.replace(/[&]/g,"%26");
   get_text(post_id, contents);
   contents = document.getElementById('quick_edit' + post_id).style.display = '';
   editando = '';
   open_quick_edit = 0;
}

function cancel_changes(post_id)
{
	contents = 'cancel';
	get_text(post_id, contents);
	contents = document.getElementById('quick_edit' + post_id).style.display = '';
	open_quick_edit = 0;
}

function get_text(post_id, contents)
{
	if (contents)
	{
		contents = '&contents=' + contents + '&submit=true';
	}
	else
	{
		contents = '';
	}
	param = 'post_id=' + post_id + contents;	
	http_request.open("POST", '{U_QUICKEDIT}', true);
	http_request.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
  	http_request.onreadystatechange = handle_text;
  	http_request.send(param);
}

function handle_text()
{
	if (http_request.readyState == 4)
	{
		if (http_request.status == 200)
		{
			result = http_request.responseText;
			document.getElementById(divname).innerHTML = result;
		}
		else
		{
			alert('There was a problem with the request.');
		}
	}
}

function getHTTPObject()
{
	if (window.XMLHttpRequest)
	{
		return new XMLHttpRequest();
	}
	else if(window.ActiveXObject)
	{
		return new ActiveXObject("Microsoft.XMLHTTP");
	}
	else
	{
		document.getElementById('p_status').innerHTML = 'Status: Cound not create XmlHttpRequest Object.  Consider upgrading your browser.';
	}
}

//**************************************
//     
// Name: Apply BBCode to Textarea
// Description:This script will insert s
//     ome bbcode where the selection is locate
//     d in a textarea form field. There is als
//     o an additional function for link bbcode
//     with prompt feature.
// By: Matt DeKok
// Modified by: Marc Alexander
//
//This code is copyrighted and has// limited warranties.Please see http://
//     www.Planet-Source-Code.com/vb/scripts/Sh
//     owCode.asp?txtCodeId=6058&lngWId=2//for details.//**************************************
//    
function addtag(tag) 
{ 
	var txt = document.getElementById('quickedit-textarea'); 
	
	txt.focus();
	
	if(tag == '*')
	{
		if(document.selection) 
		{ 
			txt.focus(); 
			sel = document.selection.createRange(); 
			sel.text = '[' + tag + ']' + sel.text; 
		} 
		else if (txt.selectionStart || txt.selectionStart == '0') 
		{ 
			txt.value = (txt.value).substring(0, txt.selectionStart) + "["+tag+"]" + (txt.value).substring(txt.selectionStart, txt.selectionEnd) + (txt.value).substring(txt.selectionEnd, txt.textLength); 
		} 
		else 
		{ 
			txt.value = '[' + tag + ']'; 
		} 
	}
	else 
	{
		if(document.selection) 
		{ 
			txt.focus(); 
			sel = document.selection.createRange(); 
			sel.text = '[' + tag + ']' + sel.text + '[/' + tag + ']'; 
		} 
		else if (txt.selectionStart || txt.selectionStart == '0') 
		{ 
			txt.value = (txt.value).substring(0, txt.selectionStart) + "["+tag+"]" + (txt.value).substring(txt.selectionStart, txt.selectionEnd) + "[/"+tag+"]" + (txt.value).substring(txt.selectionEnd, txt.textLength); 
		} 
		else 
		{ 
			txt.value = '[' + tag + '][/' + tag + ']'; 
		} 

	}
	
	// Create bbopen
	var bbopen = '[' + tag + ']';
	
	//The new position for the cursor after adding the bbcode
	var caret_pos = getCaretPosition(txt).start;
	var new_pos = caret_pos + bbopen.length;		


	// Center the cursor when we don't have a selection
	// Gecko and proper browsers
	if (!isNaN(txt.selectionStart))
	{
		txt.selectionStart = new_pos;
		txt.selectionEnd = new_pos;
	}	
	// IE
	else if (document.selection)
	{
		var range = txt.createTextRange(); 
		range.move("character", new_pos); 
		range.select();
		storeCaret(txt);
	}

	txt.focus();
	
	return; 
} 

function addsize(tag, size) 
{ 
	var txt = document.getElementById('quickedit-textarea'); 
	if(document.selection) 
	{ 
		txt.focus(); 
		sel = document.selection.createRange(); 
		sel.text = '[' + tag + '=' + size + ']' + sel.text + '[/' + tag + ']'; 
	} 
	else if (txt.selectionStart || txt.selectionStart == '0') 
	{ 
		txt.value = (txt.value).substring(0, txt.selectionStart) + "[" + tag + '=' + size +"]" + (txt.value).substring(txt.selectionStart, txt.selectionEnd) + "[/"+tag+"]" + (txt.value).substring(txt.selectionEnd, txt.textLength); 
	} 
	else 
	{ 
		txt.value = '[' + tag + '=' + size + '][/' + tag + ']'; 
	} 

	// Create bbopen
	var bbopen = '[' + tag + '=' + size + ']';
	
	//The new position for the cursor after adding the bbcode
	var caret_pos = getCaretPosition(txt).start;
	var new_pos = caret_pos + bbopen.length;		


	// Center the cursor when we don't have a selection
	// Gecko and proper browsers
	if (!isNaN(txt.selectionStart))
	{
		txt.selectionStart = new_pos;
		txt.selectionEnd = new_pos;
	}	
	// IE
	else if (document.selection)
	{
		var range = txt.createTextRange(); 
		range.move("character", new_pos); 
		range.select();
		storeCaret(txt);
	}

	txt.focus();
	return; 
} 

/**
* Insert at Caret position. Code from
* http://www.faqts.com/knowledge_base/view.phtml/aid/1052/fid/130
*/
function storeCaret(textEl)
{
	if (textEl.createTextRange)
	{
		textEl.caretPos = document.selection.createRange().duplicate();
	}
}

/**
* Caret Position object
*/
function caretPosition()
{
	var start = null;
	var end = null;
}

/**
* Get the caret position in an textarea
*/
function getCaretPosition(txtarea)
{
	var caretPos = new caretPosition();
	
	// simple Gecko/Opera way
	if(txtarea.selectionStart || txtarea.selectionStart == 0)
	{
		caretPos.start = txtarea.selectionStart;
		caretPos.end = txtarea.selectionEnd;
	}
	// dirty and slow IE way
	else if(document.selection)
	{
	
		// get current selection
		var range = document.selection.createRange();

		// a new selection of the whole textarea
		var range_all = document.body.createTextRange();
		range_all.moveToElementText(txtarea);
		
		// calculate selection start point by moving beginning of range_all to beginning of range
		var sel_start;
		for (sel_start = 0; range_all.compareEndPoints('StartToStart', range) < 0; sel_start++)
		{		
			range_all.moveStart('character', 1);
		}
	
		txtarea.sel_start = sel_start;
	
		// we ignore the end value for IE, this is already dirty enough and we don't need it
		caretPos.start = txtarea.sel_start;
		caretPos.end = txtarea.sel_start;			
	}

	return caretPos;
}
// ]]>
</script>
<!-- ENDIF -->