<!-- INCLUDE overall_header.html -->

<h1>{L_ACP_TH23_AUTOLINKS} - {L_ACP_TH23_AUTOLINKS_MODE}</h1>
<p>{L_ACP_TH23_AUTOLINKS_EXPLAIN}</p>

<!-- IF S_ERROR -->
<div class="errorbox">
	<h3>{L_WARNING}</h3>
	<p>{ERROR_MSG}</p>
</div>
<!-- ENDIF -->

<!-- IF S_ACP_TH23_AUTOLINKS_SETTINGS -->
<form method="post" action="{U_ACTION}">
<!-- BEGIN options -->
<!-- IF options.S_LEGEND -->
	<!-- IF not options.S_FIRST_ROW -->
	</fieldset>
	<!-- ENDIF -->
	<fieldset>
		<legend>{options.LEGEND}</legend>
<!-- ELSE -->
		<dl>
			<dt><label for="{options.KEY}">{options.TITLE}:</label><!-- IF options.S_EXPLAIN --><br /><span>{options.TITLE_EXPLAIN}</span><!-- ENDIF --></dt>
			<dd>{options.CONTENT}</dd>
		</dl>
<!-- ENDIF -->
<!-- END options -->
	</fieldset>
	<fieldset class="submit-buttons">
		<input class="button1" type="submit" id="submit" name="submit" value="{L_SUBMIT}" />&nbsp;
		<input class="button2" type="reset" id="reset" name="reset" value="{L_RESET}" />
		{S_FORM_TOKEN}
	</fieldset>
</form>
<!-- ENDIF -->

<!-- IF S_ACP_TH23_AUTOLINKS_URLS -->
<!-- IF S_PAGINATION -->
<div class="pagination"><span>{S_PAGINATION}</span></div>
<!-- ENDIF -->
<table cellspacing="1">
<thead>
	<tr>
		<th style="width:5%;"><a href="{U_ACP_TH23_AUTOLINKS_SORT_SORT}" style="color:#FFFFFF;">{L_ACP_TH23_AUTOLINKS_SORT}</a></th>
		<th style="width:40%;"><a href="{U_ACP_TH23_AUTOLINKS_SORT_WORD}" style="color:#FFFFFF;">{L_ACP_TH23_AUTOLINKS_WORD}</a></th>
		<th style="width:40%;">{L_ACP_TH23_AUTOLINKS_URL}</th>
		<th style="width:15%;">{L_OPTIONS}</th>
	</tr>
</thead>
<tbody>
<!-- BEGIN items -->
	<!-- IF items.S_ROW_COUNT is even -->
	<tr class="row1">
	<!-- ELSE -->
	<tr class="row2">
	<!-- ENDIF -->
		<td style="text-align:center;">{items.SORT}</td>
		<td>{items.WORD}</td>
		<td><a href="{items.U_URL}">{items.URL}</a></td>
		<td style="text-align:center; white-space:nowrap;"><a href="{items.U_EDIT}">{ICON_EDIT}</a> <a href="{items.U_DELETE}">{ICON_DELETE}</a><!-- IF S_ACP_TH23_AUTOLINKS_SORT -->&nbsp;<!-- IF items.U_MOVE_UP --><a href="{items.U_MOVE_UP}">{ICON_MOVE_UP}</a><!-- ELSE -->{ICON_MOVE_UP_DISABLED}<!-- ENDIF -->&nbsp;<!-- IF items.U_MOVE_DOWN --><a href="{items.U_MOVE_DOWN}">{ICON_MOVE_DOWN}</a><!-- ELSE -->{ICON_MOVE_DOWN_DISABLED}<!-- ENDIF --><!-- ENDIF --></td>
	</tr>
<!-- BEGINELSE -->
	<tr>
		<td class="row1" colspan="3" style="text-align:center;">{L_ACP_TH23_AUTOLINKS_NO_ITEMS}</td>
	</tr>
<!-- END items -->
</tbody>
</table>
<form id="action" method="post" action="{U_ACP_TH23_AUTOLINKS_NEW_EDIT_DELETE}">
	<fieldset<!-- IF S_ACP_TH23_AUTOLINKS_EDIT --> style="background-color:#FFFF66;"<!-- ELSEIF S_ACP_TH23_AUTOLINKS_DELETE --> style="background-color:#FFBFBF;"<!-- ENDIF -->>
		<legend>{L_ACP_TH23_AUTOLINKS_NEW_EDIT_DELETE}</legend>
		<div>{L_ACP_TH23_AUTOLINKS_NEW_EDIT_DELETE_EXPLAIN}</div><br />
		<dl>
			<dt><label for="word">{L_ACP_TH23_AUTOLINKS_WORD}:</label><br /><span>{L_ACP_TH23_AUTOLINKS_WORD_EXPLAIN}</span></dt>
			<dd><input type="text" value="{S_ACP_TH23_AUTOLINKS_WORD}" id="word" name="word" maxlength="255" size="40"<!-- IF S_ACP_TH23_AUTOLINKS_DELETE --> disabled="disabled"<!-- ENDIF --> /></dd>
		</dl>
		<dl>
			<dt><label for="url">{L_ACP_TH23_AUTOLINKS_URL}:</label><br /><span>{L_ACP_TH23_AUTOLINKS_URL_EXPLAIN}</span></dt>
			<dd><input type="text" value="{S_ACP_TH23_AUTOLINKS_URL}" id="url" name="url" maxlength="255" size="40"<!-- IF S_ACP_TH23_AUTOLINKS_DELETE --> disabled="disabled"<!-- ENDIF --> /></dd>
		</dl>
		<input class="button1" type="submit" id="submit" name="submit" value="{L_ACP_TH23_AUTOLINKS_NEW_EDIT_DELETE_BTN}" />
		<!-- IF S_ACP_TH23_AUTOLINKS_EDIT or S_ACP_TH23_AUTOLINKS_DELETE -->
		&nbsp;<input class="button2" type="submit" value="{L_CANCEL}" name="cancel"/>
		<!-- ENDIF -->
		{S_FORM_TOKEN}
	</fieldset>
</form>
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->
