<!-- INCLUDE overall_header.html -->

<!-- IF S_COMMENTS_NOT_REQD --><!-- DEFINE $COMMENTS_NOT_REQD = 1 --><!-- ENDIF -->

<h2><a href="{U_VIEW_PROFILE}">{KARMA_USERNAME}</a></h2>

<form id="postform" method="post" action="{S_KARMA_ACTION}" onsubmit="return checkForm(this);">

<!-- IF S_DISPLAY_PREVIEW --><!-- INCLUDE posting_preview.html --><!-- ENDIF -->

<div class="panel" id="postingbox">
	<div class="inner"><span class="corners-top"><span></span></span>
	
	<h3>{L_POST_A}</h3>

	<fieldset class="fields1">
	<!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->
	<p class="karma_explain">{L_KARMA_EXPLAIN}</p>

	<!-- IF S_SHOW_ICONS -->
		<dl>
			<dt><label for="icon">{L_KARMA_ICON}:</label></dt>
			<dd>
				<label for="icon"><input type="radio" name="icon" id="icon" value="0" checked="checked" /> {L_KARMA_NO_ICON}</label>
				<!-- BEGIN topic_icon --><label for="icon-{topic_icon.ICON_ID}"><input type="radio" name="icon" id="icon-{topic_icon.ICON_ID}" value="{topic_icon.ICON_ID}" {topic_icon.S_ICON_CHECKED} /><img src="{topic_icon.ICON_IMG}" width="{topic_icon.ICON_WIDTH}" height="{topic_icon.ICON_HEIGHT}" alt="" title="" /></label><!-- END topic_icon -->
			</dd>
		</dl>
	<!-- ENDIF -->

	<!-- IF S_KARMA_POWER -->
		<dl>
			<dt><label for="power">{L_KARMA_POWER}:</label></dt>
			<dd>
				{S_KARMA_POWER_SELECT}
			</dd>
		</dl>
	<!-- ENDIF -->

	<!-- INCLUDE posting_buttons.html -->

	<div id="smiley-box">
		<!-- IF S_SMILIES_ALLOWED and .smiley -->
			<strong>{L_SMILIES}</strong><br />
			<!-- BEGIN smiley -->
				<a href="#" onclick="insert_text('{smiley.A_SMILEY_CODE}', true); return false;"><img src="{smiley.SMILEY_IMG}" width="{smiley.SMILEY_WIDTH}" height="{smiley.SMILEY_HEIGHT}" alt="{smiley.SMILEY_CODE}" title="{smiley.SMILEY_DESC}" /></a>
			<!-- END smiley -->
		<!-- ENDIF -->
		<!-- IF S_SHOW_SMILEY_LINK and S_SMILIES_ALLOWED-->
			<br /><a href="{U_MORE_SMILIES}" onclick="window.open('{U_MORE_SMILIES}', '_phpbbsmilies', 'HEIGHT=350,resizable=yes,scrollbars=yes,WIDTH=300'); return false;">{L_MORE_SMILIES}</a>
		<!-- ENDIF -->

		<!-- IF BBCODE_STATUS -->
		<!-- IF .smiley --><hr /><!-- ENDIF -->
		{BBCODE_STATUS}<br />
		<!-- IF S_BBCODE_ALLOWED -->
			{IMG_STATUS}<br />
			{FLASH_STATUS}<br />
			{URL_STATUS}<br />
			{SMILIES_STATUS}
		<!-- ENDIF -->
		<!-- ENDIF -->
	</div>

	<div id="message-box">
		<textarea name="message" id="message" rows="15" cols="76" tabindex="3" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" class="inputbox">{MESSAGE}{DRAFT_MESSAGE}</textarea>
	</div>
	</fieldset>

	<span class="corners-bottom"><span></span></span></div>
</div>

<div class="panel bg2">
	<div class="inner"><span class="corners-top"><span></span></span>
	<fieldset class="submit-buttons">
		{S_HIDDEN_FIELDS}
		<input type="submit" tabindex="5" name="preview" value="{L_PREVIEW}" class="button1" onclick="document.getElementById('postform').action += '#preview';" />&nbsp;
		<input type="submit" accesskey="s" tabindex="6" name="post" value="{L_SUBMIT}" class="button1" />&nbsp;

	</fieldset>

	<span class="corners-bottom"><span></span></span></div>
</div>

<div id="tabs">
	<ul>
		<li id="options-panel-tab" class="activetab"><a href="#tabs" onclick="subPanels('options-panel'); return false;"><span>{L_OPTIONS}</span></a></li>
	</ul>
</div>

<div class="panel bg3" id="options-panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<fieldset class="fields1">
		<!-- IF S_BBCODE_ALLOWED -->
			<div><label for="disable_bbcode"><input type="checkbox" name="disable_bbcode" id="disable_bbcode"{S_BBCODE_CHECKED} /> {L_DISABLE_BBCODE}</label></div>
		<!-- ENDIF -->
		<!-- IF S_SMILIES_ALLOWED -->
			<div><label for="disable_smilies"><input type="checkbox" name="disable_smilies" id="disable_smilies"{S_SMILIES_CHECKED} /> {L_DISABLE_SMILIES}</label></div>
		<!-- ENDIF -->
		<!-- IF S_LINKS_ALLOWED -->
			<div><label for="disable_magic_url"><input type="checkbox" name="disable_magic_url" id="disable_magic_url"{S_MAGIC_URL_CHECKED} /> {L_DISABLE_MAGIC_URL}</label></div>
		<!-- ENDIF -->
	</fieldset>

	<span class="corners-bottom"><span></span></span></div>
</div>

</form>

<script type="text/javascript">
<!--
	subPanels(show_panel);
-->
</script>

<!-- INCLUDE overall_footer.html -->