/*
*
* styles/prosilver/theme/th23_autolinks.css
*
* @package th23_autolinks
* @author Thorsten Hartmann (www.th23.net)
* @copyright (c) 2008 by Thorsten Hartmann (www.th23.net)
* @license http://opensource.org/licenses/gpl-license.php GNU Public License
*
*/

.th23autolinks,
.th23autolinks:link,
.th23autolinks:visited,
.th23autolinks:active {
	background:transparent;
	text-decoration:none;
	color:#444444;
	border-bottom:1px dashed #339900;
}

.th23autolinks:hover {
	background:transparent;
	text-decoration:none;
	color:#D46400;
	border-bottom:1px solid #D46400;
}
