<!-- INCLUDE overall_header.html -->
   <h2>ČPS Socialbar</h2>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
	<form method="POST" action="https://www.ceskapiratskastrana.cz/forum/socialbar.php">
   <fieldset class="fields1">
		<div class="column1">
				<dl>
					<dt>
					<label for="url">
						<span>Cílové URL</span>
					</label>
					</dt>
					<dd>
						<input name="url" id="url" />
					</dd>
				</dl>

<dl><dt>
	<label for="title">
		<span>Název</span>
	</label>
 </dt><dd>
		<input name="title" id="title" />
 </dd></dl>

 </dd></dl>
	<label for="description">
		<span>Popis</span>
	</label>
 </dt><dd>
		<textarea name="description" id="description"></textarea>
 </dd></dl>

<dl><dt>
	<label for="medium">
		<span>Médium</span>
	</label>
 </dt><dd>
		<select name="medium" id="medium">
			<option value="audio">Audio</option>
			<option value="image">Obrázek</option>
			<option value="video">Video</option>
			<option value="news">Aktualita</option>
			<option value="blog">Blog</option>
			<option value="mult">Multimédia</option>
		</select>
 </dd></dl>

<dl><dt>
	<label for="image_src">
		<span>URL obrázkového náhledu</span>
	</label>
 </dt><dd>
		<input name="image_src" id="image_src" />
 </dd></dl>

<dl><dt>
	<label for="audio_src">
		<span>URL zvuku</span>
	</label>
 </dt><dd>
		<input name="audio_src" id="audio_src" />
 </dd></dl>

<dl><dt>
	<label for="audio_type">
		<span>Typ zvuku</span>
	</label>
 </dt><dd>
		<input name="audio_type" id="audio_type" />
 </dd></dl>

<dl><dt>
	<label for="audio_title">
		<span>Název zvuku</span>
	</label>
 </dt><dd>
		<input name="audio_title" id="audio_title" />
 </dd></dl>

<dl><dt>
	<label for="audio_artist">
		<span>Autor zvuku</span>
	</label>
 </dt><dd>
		<input name="audio_artist" id="audio_artist" />
 </dd></dl>

<dl><dt>
	<label for="audio_album">
		<span>Album zvuku</span>
	</label>
 </dt><dd>
		<input name="audio_album" id="audio_album" />
 </dd></dl>

<dl><dt>
	<label for="video_src">
		<span>Url videa</span>
	</label>
 </dt><dd>
		<input name="video_src" id="video_src" />
 </dd></dl>

<dl><dt>
	<label for="video_height">
		<span>Výška videa</span>
	</label>
 </dt><dd>
		<input name="video_height" id="video_height" />
 </dd></dl>

<dl><dt>
	<label for="video_width">
		<span>Šířka videa</span>
	</label>
 </dt><dd>
		<input name="video_width" id="video_width" />
 </dd></dl>

<dl><dt>
	<label for="video_type">
		<span>video_type</span>
	</label>
 </dt><dd>
		<input name="video_type" id="video_type" />
 </dd></dl>
	<input type="hidden" name="doShare" value="sure!" />
<dl><dt>
	<label>
		<span id='submitspan'>
		</span>
	</label>
 </dt><dd>
		<input type="submit" class="button2" value="Šéruj neasy!" />
 </dd></dl>
			</fieldset>

			<span class="corners-bottom"><span></span></span></div>
		</div>


</form>
		<span class="corners-bottom"><span></span></span></div>
</div>



<!-- INCLUDE overall_footer.html -->