

<!-- BEGIN forumrow -->
	<!-- IF forumrow.S_IS_CAT  -->
		<li class="group">
			<a href="{forumrow.U_VIEWFORUM}" target="_self">{forumrow.FORUM_NAME}</a>
		</li>
	<!-- ELSE -->
		<li>
			<a href="{forumrow.U_VIEWFORUM}" target="_self">{forumrow.FORUM_NAME}</a>
		</li>
	<!-- ENDIF -->
<!-- BEGINELSE -->
	<li>{L_NO_FORUMS}<li>
<!-- END forumrow -->
row.FORUM_NAME}</a>
		</li>
	<!-- ENDIF -->
<!-- BEGINELSE -->
	<li>{L_NO_FORUMS}<li>
<!-- END forumrow -->
