<div id="leftfooter">
<img class="author" src="{T_THEME_PATH}/web/images/user.jpg" alt="Author" /><h2>About</h2>
  <p>About us your web site</p>
  </div>
<div id="rightfooter">
<div id="sidebar1">
<h2>Categories</h2>
<ul>

<li><a href="#">Link 1</a></li>
<li><a href="#">Link 2</a></li>
<li><a href="#">Link 3</a></li>
</ul>
</div>
<div id="sidebar2">
<h2>Archives</h2>
<ul>
<li><a href="#">Link 4</a></li>
<li><a href="#">Link 5</a></li>
<li><a href="#">Link 6</a></li>
</ul>
</div>
</div>