 <div id="topnavmain-site">
 <ul class="kwicks">  
     <li id="kwick1"><a href="#">Link1</a></li>  
     <li id="kwick2"><a href="#">Link2</a></li>
     <li id="kwick3"><a href="#">Link3</a></li>  
     <li id="kwick4"><a href="#">Link4</a></li>  
 </ul>  
</div>