* {padding:0; margin:0;}
body {background:#444444;}
.clear {clear:both;}
h2, h3, h4 {display:block;}
ul {list-style:none;}

.readmore a { background:url(images/bullet.png) 1px 2px no-repeat; display:block; padding:0 3px 0 15px; float:right;}
#wrap-site {background:#333; padding:10px; width:770px; margin:30px auto 30px auto}
#content-site {background:#e7f7ff;}
#content-site .post-site {padding:10px;}
#topnav-site {background:#333; height:91px; padding:5px; background: url(images/sidebarbg.png) left top no-repeat;}
#header_home-site {display:block; width:770px; height:150px; background:url(images/header.jpg) center top no-repeat; text-align:center;}
.sitename-site {display:block; font:22px arial, "Trebuchet MS", Verdana, sans-serif; color:#fff; height:30px; padding:8px 5px 0 5px; margin:0; text-transform:none; letter-spacing:2px;}
.sitename-site a, .sitename-site a:visited, .sitename-site a:active {color:#fff; text-decoration:none;}
.sitename-site a:hover {color:#eee; text-decoration:none;}
.description-site {display:block; font: normal 12px Georgia, "Times New Roman", Times, serif; color:#666666;}

#content-site p {line-height:18px; margin-bottom:18px;}
.subhead {font: bold 16px "Trebuchet MS", Verdana, sans-serif; text-transform:uppercase; color:#999999; padding:5px; text-align:center; display:block; background:#efefef;}
#searchbox-site {width:155px; float:left; padding-top: 15px;}
#topnavmain-site { float: left;	width: 500px; height: 88px;	padding-left: 55px;}
#searchbox-site #search-site {background: url(images/search.png) no-repeat; height:46px;}
#search-site input { background: transparent; border-style: none; font-size: 10px; display: block; width: 115px; padding: 24px 5px 2px; color: #666;}
#topnav-site h2 {font:bold 14px "Trebuchet MS", Verdana, sans-serif; text-transform:uppercase;}

#nav-site {
	padding-top: 33px;
}

#nav-site li {
	display: inline;
}

#nav-site a {
	display:block; 
	background: url(images/menu2.png) repeat-x; 
	height:44px; 
	padding:2px 10px 0 10px; 
	float:left; margin-left:2px; 
	color:#666; 
	text-decoration:none; 
}

#nav-site a:hover {
	background:url(images/menu1.png) repeat-x; 
	color:#fff; 
	text-decoration:none;
}

#nav-site .active a {
	background:url(images/menu3.png) repeat-x; 
	color:#000; 
	text-decoration:none;
}

#nav-site .active a:hover {
	background:url(images/menu3.png) repeat-x; 
	color:#000; 
	text-decoration:none;
}

h2 .postmeta {display:block; font: normal 12px Georgia, "Times New Roman", Times, serif; color:#999; margin-bottom:18px;}
.post-site h2 {font:18px "Trebuchet MS", Verdana, sans-serif; color:#666666; margin-bottom:10px;}
#footer h2 {font:18px "Trebuchet MS", Verdana, sans-serif; color:#666666;}
.post-site {background:#333;}
.page_nav-site {background: #333; padding:3px 15px 3px 15px; height:20px;}
.alignleft {float:left; display:block;}
.alignright {float:right; display:block;}
.page_nav-site a, .page_nav-site a:visited, .pagenav-site a:active {color:#999; text-decoration:none;}
.page_nav-site a:hover {color:#fff;}
#col1 {float:left; width:49%;}
#col2 {float:right; width:49%;}
#footer {background: #222 url(images/footer.jpg) no-repeat; padding:0 10px 10px 10px; font:12px "Trebuchet MS", Verdana, sans-serif; color:#666;}
#footertop { height: 40px; padding-top:10px; margin-bottom:10px;}
#leftfooter { float: left; width: 35%;}
#rightfooter { float: right; width: 63%;}
#bottom-left { padding:10px 10px 10px 75px; clear:both; background:url(images/footerbtm.jpg) 3px 5px no-repeat; border-top: solid 1px #333; margin-top:15px;}
#sidebar2 {float:right; width:48%;}
#sidebar1 {float:left; width:48%;}
#rightfooter li { display:block; height:22px; border-bottom: 1px solid #2C2C2C;}
#rightfooter a, #rightfooter a:visited, #rightfooter a:active {display:block; height:19px; padding:3px 8px 0 8px; text-decoration:none; color:#069;}
#rightfooter a:hover {color:#fff; background:#000;}
#footer h2 { padding:3px; font: bold 16px "Trebuchet MS", Verdana, sans-serif; color:#999; }
#leftfooter .author {padding:5px 8px 3px 3px; float:left;}
#footer img {border:none;}
#footertop ul {text-align:center; padding-top:8px;}
#footertop li {display: inline;}
#footertop a, #footertop a:visited {color:#999; padding:3px; margin:3px; text-decoration:none;}
#footertop a:hover {color:#fff; }
#bottom a, #bottom a:visited{color:#999;}
#bottom a:hover {color:#fff; text-decoration:none;}
.postbottom {background:#f4f4f4; border:solid 1px #ddd; padding:3px; font-size:11px;}
/*comments*/
#comments{margin:15px;}
#comments .odd {background:#f4f4f4;}
#comments .even {background:#EEECE6;}
#comments ul li p {margin:0;}
#comments li { display:block; border:solid 1px #ddd; margin-bottom:8px; padding:8px;}