    /*  phpBB 3.0 Style Sheet - Borders
        --------------------------------------------------------------
		Style name:         ProStripes
		Based on style:     proSilver (this is the default phpBB 3 style)
		Original author:	subBlue ( http://www.subBlue.com/ )
		Modified By: xHotShotx and Advarntek style Copyright 2007, 2008 Styles-Fusion Desings (http://www.styles-fusion.com/) 
		Copyright 2006 phpBB Group ( http://www.phpbb.com/ )
        --------------------------------------------------------------
    */

html, body {
	background-color: #A0A0A0;
	background-position: top center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

#wrap {
	padding: 0 20px;
   	width: 881px;  
   	margin: 0 auto;
}

#footer-bg{
	background-image:url("{T_THEME_PATH}/images/bottom_border.png");/* footer-bg.png needs to be changed to the image name that you saved the bottom part as */
	background-position:left top;
	width:937px; /* width of you image */
	height: 50px; /* height of you image */
	margin:auto;
}

#wrap-bg{
	background-image: url("{T_THEME_PATH}/images/mid_border.png");/* middle-bg.png needs to be changed to the image name that you saved the middle part as */
	background-position: left top;
	width:937px;
	background-repeat: repeat-y;
	margin:auto;
}

#header-bg{
	background-image: url("{T_THEME_PATH}/images/top_border.png"); /* header-bg.png needs to be changed to the image name that you saved the top part as */
	background-position:left top;
	width:937px; /* width of you image */
	background-repeat:no-repeat;
	margin:auto;
	height:27px; /* height of you image */
}


